.idea/
.venv/
__pycache__/
*.pyc
# GitHub Actions 워크플로우 파일은 무조건 제외하지 말고 포함하기
!.github/workflows/
!*.yml

# 파이참 기본 생성 파일들
shelf/
workspace.xml
httpRequests/
queries/
dataSources/
dataSources.local.xml
# created by virtualenv automatically ....
