name: US Finance Detailed Logging

on:
  workflow_dispatch:

jobs:
  update_us_finance:
    runs-on: ubuntu-latest
    timeout-minutes: 50

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install "notion-client==2.2.1" "yfinance>=0.2.31" pandas
      - name: Run US Update
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
        run: python update_us_fin.py
