- name: Run Price Update
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
        run: python update_price.py

      - name: Run Finance Update
        if: github.event_name == 'workflow_dispatch' || contains(github.event.schedule, '0 */4 * * *')
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
        run: python update_finance.py
